<div class="container">
	<div class="row " style="padding-top: 40px;">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Usuários Online</div>
				<div class="panel-body">
					<ul class="media-list" ng-repeat="profile in profiles" >
						<li class="media">
							<div class="media-body">
								<div class="media">
									<a class="pull-left" href="#"> <img class="media-object img-circle" style="max-height: 40px;"
										ng-src="{{ profile.picture }}" />
									</a>
									<div class="media-body">
										<h5>{{ profile.nickname }}</h5>
										<!-- <small class="text-muted">Active From 3 hours</small> -->
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">Histórico do Chat</div>
				<div class="panel-body panel-body-chat">
					<ul class="media-list" ng-repeat="msg in messages" >
						<li class="media">
							<div class="media-body">
								<div class="media">
									<a class="pull-left" href="#"> <img class="media-object img-circle " ng-src="{{ msg.profile.picture }}" />
									</a>
									<div class="media-body">
										{{ msg.message }} <br /> <small class="text-muted" ng-if="msg.profile != null" >{{ msg.profile.nickname }} | {{ formatDateTime(msg.dateTime) }}</small>
										<hr />
									</div>
								</div>
							</div>
						</li>
					</ul>
					<h4 ng-if="messages.length == 0">Ainda não temos nenhuma mensagem, comece agora!</h3>
				</div>
				<div class="panel-footer">
					<form ng-submit="send()">
						<div class="input-group">
							<input type="text" ng-model="message" class="form-control" placeholder="Digite sua mensagem" maxlength="1000" /> <span
								class="input-group-btn">
								<button class="btn btn-primary" type="submit">Enviar</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>