<!DOCTYPE html>
<html lang="en" ng-app='ChatRoom'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>G+ ChatRoom</title>

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
	
	<div class="loading"></div>
	
	<div id="wrapper" class="hidden" ng-controller="appCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><i class="fa fa-google-plus" ></i> ChatRoom</a>
            </div>
            <!-- /.navbar-header -->
            
            <ul ng-if="isLogged" class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" >
                        {{ profile.nickname }} <img ng-src="{{ profile.picture }}" class="profile-img" />
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a  ng-click="logout()" ><i class="fa fa-sign-out fa-fw"></i> Sair</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
        
        	<div ng-view></div>
        	
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<!-- run `gulp inject` to automatically populate bower script dependencies -->
	<!-- endbower -->
	<!-- endbuild -->
	
	<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
	<!-- inject:js -->
	<!-- js files will be automatically insert here -->
	<!-- endinject -->
	
	<!-- inject:partials -->
	<!-- angular templates will be automatically converted in js and inserted here -->
	<!-- endinject -->
	<!-- endbuild -->
	
	 <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
	
</body>
</html>